<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">
<head>
    <title>Format Code</title>
</head>
<body>
<main layout:fragment="content">
    <h1 class="mb-3">Submit your code for formatting:</h1>
    <p class="text">
        Please provide a complete Java class, interface, or enum. Partial code snippets may not be formatted correctly.
    </p>
    <form th:action="@{/format}" method="post" class="mb-3">
        <textarea name="origCode" placeholder="Enter your Java code here..." class="form-control mb-2"></textarea>
        <button type="submit" class="btn btn-custom-primary">Format Code</button>
    </form>
    <div th:if="${codeSnippet != null}" class="row">
        <div th:if="${origCode != null}" class="col-md-6">
            <h3>Original Code:</h3>
            <pre th:text="${origCode}" class="pre-scrollable"></pre>
        </div>
        <div class="col-md-6">
            <h3>Formatted Code:</h3>
            <pre th:text="${codeSnippet.formattedCode}" class="pre-scrollable"></pre>
        </div>
    </div>
    <div th:if="${codeSnippet != null}">
        <h2>Save Formatted Code:</h2>
        <form th:action="@{/save}" method="post">
            <input type="hidden" name="formattedCode" th:value="${codeSnippet.formattedCode}">
            <label for="duration">Duration (in seconds):</label>
            <input type="number" id="duration" name="duration" class="form-control" min="10" max="7776000" required>
            <button type="submit" class="btn btn-custom-primary">Save Code</button>
        </form>
    </div>
    <h2>Retrieve Formatted Code:</h2>
    <form th:action="@{/view/__id__}" method="get">
        <label for="id">Enter Code ID:</label>
        <input type="text" id="id" name="id" class="form-control" required th:attr="oninput=|this.form.action = this.form.action.replace('__id__', this.value)|">
        <button type="submit" class="btn btn-custom-secondary">Retrieve Code</button>
    </form>
</main>
</body>
</html>

